<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <div id="gulou">
        <div style="font-family: 'PingFang SC';font-style: normal;font-weight: 400;font-size: 14px;line-height: 20px;color: #3D2210;">
            <p>北京鼓楼的 <span style="font-weight: 600;">四季</span> 各有特色，冬季尤佳。</p>
            <p>希望能把这种美好，<span style="font-weight: 600;">留给您！</span></p>
            <p>春天，是 <span style="font-weight: 600;">清新</span> 的气息；夏天，是绿树成荫；</p>
            <p>秋天，是金与红的交相辉映；</p>
            <p>而冬天到来时，洁白的 <span style="font-weight: 600;">雪花</span> 飘落在红墙黄瓦上,</p>
            <p>相映成趣又静谧庄重。</p>
            <p>鼓楼 <span style="font-weight: 600;">见证</span> 着这座城市的春去冬来。</p>
            <p>白雪皑皑，<span style="font-weight: 600;">当 107号公交车</span> 经过鼓楼，</p>
            <p>看到它，你会感受到这座城市的 <span style="font-weight: 600;">温度。</span> </p>
        </div>
    </div>
    <script>
        const div = document.getElementById('gulou')
        debugger
        console.log(div.innerHTML)
    </script>
</body>
</html>